{% extends 'app1/home.html' %}
{% block content %}

<style type="text/css">
    .centerdv{
    width:45%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;

    }

</style>
<div class="container well  centerdv">
<h3>Login</h3><br>
    <form method="post">
        {% csrf_token %}
        {% if user is authenticated %}
        <div class="alert alert-danger" role="alert">Bad Login</div>{% endif %}
        <b>Username:</b>
        <input type="text" name="username" class="form-control">
        <br>
        <b>Password:</b>
        <input type="text" name="password" class="form-control" ><br>
        <input type="submit" value="Login!" class="btn btn-success btn-lg">
    </form>

</div>
{% endblock %}
